
@font-face {
    font-family: "Montserrat Bold";
    src: url("/fonts/Montserrat-Bold.ttf") format("opentype");
}
@mixin family-Montserrat-Bold {
    font-family: "Montserrat Bold";
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("/fonts/Montserrat-Italic.ttf") format("opentype");
}
@mixin family-Montserrat-Italic {
    font-family: "Montserrat Italic";
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("/fonts/Montserrat-Regular.ttf") format("opentype");
}
@mixin family-Montserrat-Regular {
    font-family: "Montserrat Regular";
}

@font-face {
    font-family: "NotoSans Condensed Bold";
    src: url("/fonts/NotoSans_Condensed-Bold.ttf") format("opentype");
}
@mixin family-NotoSans-Condensed-Bold {
    font-family: "NotoSans Condensed Bold";
}

@font-face {
    font-family: "NotoSans Condensed Italic";
    src: url("/fonts/NotoSans_Condensed-Italic.ttf") format("opentype");
}
@mixin family-NotoSans-Condensed-Italic {
    font-family: "NotoSans Condensed Italic";
}

@font-face {
    font-family: "NotoSans Condensed Regular";
    src: url("/fonts/NotoSans_Condensed-Regular.ttf") format("opentype");
}
@mixin family-NotoSans-Condensed-Regular {
    font-family: "NotoSans Condensed Regular";
}

@font-face {
    font-family: "Raleway Bold";
    src: url("/fonts/Raleway-Bold.ttf") format("opentype");
}
@mixin family-Raleway-Bold {
    font-family: "Raleway Bold";
}

@font-face {
    font-family: "Raleway Italic";
    src: url("/fonts/Raleway-Italic.ttf") format("opentype");
}
@mixin family-Raleway-Italic {
    font-family: "Raleway Italic";
}

@font-face {
    font-family: "Raleway Regular";
    src: url("/fonts/Raleway-Regular.ttf") format("opentype");
}
@mixin family-Raleway-Regular {
    font-family: "Raleway Regular";
}


$screenToXD_web: 1920;
$screenToXD_mobile: 393;

@function px_to_vw($px, $type: 1) {
    @if $type == 1 {
        @return (calc($px / $screenToXD_web) * 100) + vw;
    } @else {
        @return (calc($px / $screenToXD_mobile) * 100) + vw;
    }
}
