
@font-face {
    font-family: "Saira Bold";
    src: url("/fonts/Saira-Bold.ttf") format("opentype");
}
@mixin family-Saira-Bold {
    font-family: "Saira Bold";
}

@font-face {
    font-family: "Saira SemiBold";
    src: url("/fonts/Saira-Bold.ttf") format("opentype");
}
@mixin family-Saira-Bold {
    font-family: "Saira Bold";
}

@font-face {
    font-family: "Saira Medium";
    src: url("/fonts/Saira-Medium.ttf") format("opentype");
}
@mixin family-Saira-Medium {
    font-family: "Saira Mediun";
}

@font-face {
    font-family: "Saira Regular";
    src: url("/fonts/Saira-Regular.ttf") format("opentype");
}
@mixin family-Saira-Regular {
    font-family: "Saira Regular";
}

@font-face {
    font-family: "Saira Thin";
    src: url("/fonts/Saira-Thin.ttf") format("opentype");
}
@mixin family-Saira-Thin {
    font-family: "Saira Thin";
}

$screenToXD_web: 1920;
$screenToXD_mobile: 393;

@function px_to_vw($px, $type: 1) {
    @if $type == 1 {
        @return (calc($px / $screenToXD_web) * 100) + vw;
    } @else {
        @return (calc($px / $screenToXD_mobile) * 100) + vw;
    }
}
