@use "/src/styles/variables.scss" as var;
@use "/src/styles/colors.scss" as colors;

.section-carousel-text {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    .carousel-track {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        padding: 0 5vw;
        width: max-content;
    }

    .carousel-card {
        min-width: 400px;
        height: 300px;
        background: #f0f0f0;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
            background: colors.$white;
        }
    }
}