@use "/src/styles/variables.scss" as var;
@use "/src/styles/fonts.scss" as fonts;
@use "/src/styles/colors.scss" as colors;

.section-card-experiences {
    .cards-container {
        background-color: colors.$bg_2_color;
        padding: 5%;
        border-radius: 3%;

        @include var.adapted-content-web {
            //width: 25%;
            margin-top: 3%;
        }

        @include var.adapted-content-mobile {
            display: block;
            margin: 0 auto;
            width: 70%;
            margin-top: 10%;
        }

        .card-img {
            border-radius: fonts.px_to_vw(12);

            @include var.adapted-content-mobile {
                display: block;
                margin: 0 auto;
                width: 95%;
                border-radius: fonts.px_to_vw(12, 2);
                margin-top: 3%;
            }
        }

        .txt-container {
            padding-top: 5%;
            color: colors.$white;
            width: 100%;

            h3 {
                @include fonts.family-Montserrat-Bold;

                @include var.adapted-content-web {
                    font-size: fonts.px_to_vw(24);
                }

                @include var.adapted-content-mobile {
                    font-size: fonts.px_to_vw(24, 2);
                }
            }

            p {
                @include fonts.family-Montserrat-Regular;
                margin-top: 5%;

                @include var.adapted-content-web {
                    font-size: fonts.px_to_vw(20);
                }

                @include var.adapted-content-mobile {
                    font-size: fonts.px_to_vw(20, 2);
                }
            }
        }
    }
}