@use "/src/styles/variables.scss" as var;
@use "/src/styles/fonts.scss" as fonts;
@use "/src/styles/colors.scss" as colors;

.development-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: fonts.px-to-vw(400);
  margin: fonts.px-to-vw(40) auto 0 auto;
  gap: fonts.px-to-vw(40);

  @include var.adapted-content-mobile {
    flex-direction: column;
    max-width: fonts.px-to-vw(500, 2);
    margin-top: fonts.px-to-vw(20, 2);
    gap: fonts.px-to-vw(20, 2);
  }

  .img-project {
    flex-shrink: 0;

    img {
      border-radius: fonts.px-to-vw(60);
      display: block;
      width: 100%;

      @include var.adapted-content-mobile {
        border-radius: fonts.px-to-vw(30, 2);
        max-width: fonts.px-to-vw(280, 2);
        margin: 0 auto;
      }
    }
  }

  .info-project {
    color: black;
    text-align: left;

    @include var.adapted-content-mobile {
      text-align: center;
    }

    h2 {
      @include fonts.family-Saira-Bold;
      letter-spacing: fonts.px-to-vw(2);
      font-size: fonts.px_to_vw(32);
      border-bottom: 2px solid transparent;
      transition: border-color 0.2s ease-in-out;

      @include var.adapted-content-mobile {
        font-size: fonts.px_to_vw(20, 2);
        letter-spacing: fonts.px-to-vw(2, 2);
      }

      &:hover {
        cursor: pointer;
        border-bottom-color: black;
      }
    }

    p {
      @include fonts.family-Saira-Medium;
      font-size: fonts.px_to_vw(32);
      margin: 0;

      @include var.adapted-content-mobile {
        font-size: fonts.px_to_vw(18, 2);
      }
    }
  }
}