:root {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}


button {
  all: unset;
}

h1,
h2,
h3,
h4,
p,
span,
a {
  margin: 0;
  padding: 0;
}