@use "/src/styles/variables.scss" as var;
@use "/src/styles/fonts.scss" as fonts;
@use "/src/styles/colors.scss" as colors;

.section-banner {
    .banner-web {
        .video-web{
            width: 100%;
        }
    }

    .banner-mobile {
        .video-mobile{
            width: 100%;
            height: 100%;
        }
    }
}